<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>PEPP Portal</span>
    <span class="example-fill-remaining-space"></span>
    <span>

      <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent let-name="name">
          <button (click)="resetRequest()" mat-menu-item>Reset Filter</button>
          <button (click)="exportAsExcel()" mat-menu-item>Export</button>
          <button mat-menu-item [routerLink]="['/agents']">Agents</button>
          <button (click)="logOff()" mat-menu-item>Log out</button>
        </ng-template>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div id="peppTab">
  <nav mat-tab-nav-bar [backgroundColor]="'primary'">
    <a mat-tab-link (click)="getRemittanceTransactions()" [active]="request.type == 1">
      SEND
    </a>
    <a mat-tab-link (click)="getReleasedTransactions()" [active]="request.type == 2">
      RECEIVE
    </a>
    <a mat-tab-link (click)="getTopUpTransactions()" [active]="request.type == 3">
      TOP UP
    </a>
    <a mat-tab-link (click)="getEncashTransactions()" [active]="request.type == 4">
      ENCASH
    </a>
  </nav>
</div>

<div class="card-container-right">
  <mat-form-field appearance="outline">
    <mat-label>Agent</mat-label>
    <input #agentInput type="text" matInput [formControl]="agentFormControl" [matAutocomplete]="auto" placeholder="Agent" (change)="agentChanged($event)">
    <mat-icon matSuffix>people</mat-icon>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="agentSelected($event)">
    <mat-option *ngFor="let username of filteredOptions | async " [value]="username">{{ username }}</mat-option>
  </mat-autocomplete>

  <mat-form-field appearance="outline">
    <mat-label>Start Date</mat-label>
    <input #startInput matInput placeholder="Start Date" [matDatepicker]="startDate" (dateChange)="dateChanged('start', $event)"
      disabled>
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>End Date</mat-label>
    <input #endInput matInput placeholder="End Date" [matDatepicker]="endDate" (dateChange)="dateChanged('end', $event)" disabled>
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate disabled="false"></mat-datepicker>
  </mat-form-field>
</div>

<div class="card-container-left">
  <h2 color="primary" id="title">{{ title }}</h2>
</div>

<div class="mat-elevation-z8 table-container" #transactionWrapper>

  <mat-progress-bar *ngIf="fetchingData" mode="indeterminate"></mat-progress-bar>

  <table mat-table #transactionTable [dataSource]="dataSource">

    <ng-container matColumnDef="transactionDate">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Date: </span>
        <span class="mobile-spacer"></span>
        {{transaction.timestamp | date}} </mat-cell>
      <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
    </ng-container>


    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Username: </span>
        <span class="mobile-spacer"></span>{{transaction.agent_username | decrypt }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>


    <ng-container matColumnDef="transactionCode">
      <mat-header-cell *matHeaderCellDef> Transaction Code</mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Transaction Code: </span>
        <span class="mobile-spacer"></span>
        {{transaction.transaction_code | decrypt }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>


    <ng-container matColumnDef="referenceNo">
      <mat-header-cell *matHeaderCellDef> Reference No.</mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Reference No.: </span>
        <span class="mobile-spacer"></span>
        {{transaction.partner_reference_no | decrypt }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="sender">
      <mat-header-cell *matHeaderCellDef> Sender </mat-header-cell>
      <mat-cell *matCellDef="let transaction">

        <span class="mobile-label">Sender: </span>
        <span class="mobile-spacer"></span>
        <span *ngIf="transaction.sender_name">
          {{ transaction.sender_name.first_name | decrypt | uppercase }} {{ transaction.sender_name.last_name | decrypt | uppercase
          }}
        </span>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>


    <ng-container matColumnDef="receiver">
      <mat-header-cell *matHeaderCellDef> Receiver </mat-header-cell>
      <mat-cell *matCellDef="let transaction">

        <span class="mobile-label">Receiver: </span>
        <span class="mobile-spacer"></span>
        <span *ngIf="transaction.receiver_name">
          {{ transaction.receiver_name.first_name | decrypt | uppercase }} {{ transaction.receiver_name.last_name | decrypt | uppercase
          }}
        </span>

      </mat-cell>
      <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
    </ng-container>


    <ng-container matColumnDef="principal">
      <mat-header-cell *matHeaderCellDef> Principal </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Principal: </span>
        <span class="mobile-spacer"></span>
        {{transaction.amount_principal | currency:"&#8369;" }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef> {{ getPrincipal() | currency:"&#8369;" }} </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="commission">
      <mat-header-cell *matHeaderCellDef> Commission </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Commission: </span>
        <span class="mobile-spacer"></span>{{transaction.commission | currency:"&#8369;" }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef> {{ getCommission() | currency:"&#8369;" }} </mat-footer-cell>
    </ng-container>


    <ng-container matColumnDef="serviceCharge">
      <mat-header-cell *matHeaderCellDef> Service Charge </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Service Charge: </span>
        <span class="mobile-spacer"></span>
        {{transaction.service_charge | currency:"&#8369;"}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef> {{ getServiceCharge() | currency:"&#8369;" }} </mat-footer-cell>
    </ng-container>


    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Total: </span>
        <span class="mobile-spacer"></span>
        {{transaction.total | currency:"&#8369;"}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef> {{ getTotalCost() | currency:"&#8369;" }} </mat-footer-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    <mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></mat-footer-row>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>