<div class="card">
  <div class="card-header card-header-primary">
    <h2 class="card-title">Agents</h2>
  </div>
  <div class="card-body">
    <div class="no-trans-wrapper" *ngIf="dataSource.data.length == 0">
      <h3></h3>
    </div>

    <div *ngIf="dataSource.data.length > 0">
      <table mat-table #superAgentTable [dataSource]="dataSource">

        <ng-container matColumnDef="agentUserName">
          <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
          <mat-cell *matCellDef="let agent">
            {{ agent.user.username | decrypt }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="agentName">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let agent">
            {{ agent.firstName | decrypt }} {{ agent.lastName | decrypt }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="agentWallet">
          <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
          <mat-cell *matCellDef="let agent">
            {{ agent.wallet.currentBalance | currency:"&#8369;" }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="agentLastUpdated">
          <mat-header-cell *matHeaderCellDef> Balance Updated </mat-header-cell>
          <mat-cell *matCellDef="let agent">
            {{ agent.wallet.currentUpdated | date:'medium' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="agentStatus">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let agent">
            <mat-icon color="primary" *ngIf="agent.user.enabled">how_to_reg</mat-icon>
            <mat-icon color="warn" *ngIf="!agent.user.enabled">block</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="showInfo(row)" [@listAnimation]></mat-row>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>


<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>PEPP Portal</span>
    <span class="example-fill-remaining-space"></span>
    <span>

      <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent let-name="name">
          <button mat-menu-item [routerLink]="['/']">Reports</button>
          <button mat-menu-item (click)="logOff()">Log out</button>
        </ng-template>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
  <h2 color="primary" id="title">Agents</h2>
  <mat-card mat-elevation-z8>
    <mat-progress-bar *ngIf="fetchingData" mode="indeterminate"></mat-progress-bar>
    <mat-nav-list>
      <mat-list-item *ngFor="let agent of agents">
        <mat-icon matListIcon *ngIf="agent.enabled" [color]="'primary'">beenhere</mat-icon>
        <mat-icon matListIcon *ngIf="!agent.enabled">phonelink_lock</mat-icon>
        <a matLine>{{ agent.username | decrypt }}</a>
        <button mat-icon-button (click)="deactivate(agent.username)" *ngIf="agent.enabled">
          <mat-icon [color]="'warn'">phonelink_lock</mat-icon>
        </button>
        <button mat-icon-button (click)="activate(agent.username)" *ngIf="!agent.enabled">
          <mat-icon [color]="'primary'">beenhere</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div> -->