<mat-progress-bar mode="indeterminate" *ngIf="fetchingData"></mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav-content>

    <div class="loader" *ngIf="fetchingData"></div>

    <app-agents-list *ngIf="!isAgentSelected"></app-agents-list>
    <app-agents-info *ngIf="isAgentSelected"></app-agents-info>
  </mat-sidenav-content>

  <mat-sidenav mode="side" position="end" [opened]="isDrawerOpen">
    <app-agent-manage-dialog></app-agent-manage-dialog>
  </mat-sidenav>

</mat-sidenav-container>

<div class="page-action">
  <ng-container *ngIf="!isDrawerOpen && !isAgentSelected">
    <button mat-fab matTooltip="Add Agent" [matTooltipPosition]="'above'" (click)="openDrawer()">
      <mat-icon>add</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="!isDrawerOpen && isAgentSelected">
    <button mat-fab matTooltip="Add Agent" [matTooltipPosition]="'above'" (click)="closeInfo()">
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="isDrawerOpen">
    <button mat-fab matTooltip="Save" [matTooltipPosition]="'above'" (click)="createAgent()">
      <mat-icon>save</mat-icon>
    </button>
  </ng-container>
</div>